<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="/">
      <img src="../../images/nodejs-navbar-logo.svg" width="30" height="30" class="d-inline-block align-top">
      <b>NodeJS</b> 2020</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--About-->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <!--Node documentation-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Node docs
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/docs/overview">Docs overview</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/docs/node">Node.js basics</a>
            <a class="dropdown-item" href="/docs/variables">Variables</a>
            <a class="dropdown-item" href="/docs/functions">Functions</a>
            <a class="dropdown-item" href="/docs/objects">Objects</a>
            <a class="dropdown-item" href="/docs/modules">Modules</a>
            <a class="dropdown-item" href="/docs/jquery">jQuery</a>
            <a class="dropdown-item" href="/docs/ajax">AJAX</a>
            <a class="dropdown-item" href="/docs/npm">NPM</a>
            <a class="dropdown-item" href="/docs/nodemon">Nodemon</a>
            <a class="dropdown-item" href="/docs/express">Express</a>
            <a class="dropdown-item" href="/docs/http">HTTP</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/api">API <span class="badge badge-pill badge-success">New</span></a>
        </li>
      </ul>
    </div>
  </nav>